<ion-header>
  <ion-navbar>
    <ion-title>{{ params.category.name }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <empty-view *ngIf="isErrorView" icon="alert" text="ချိတ်ဆက်၍မရပါ"></empty-view>
  <empty-view *ngIf="isEmptyView" icon="bookmark" text="အချက်အလက်မရှိသေးပါ"></empty-view>
  <ion-list *ngIf="isContentView">
    <ion-item *ngFor="let place of places" (click)="goToPlaceDetailPage(place)">
      <ion-thumbnail item-left>
        <img src="{{ place.image ? place.image.url() : 'http://placehold.it/300x225' }}">
      </ion-thumbnail>
      <h2>{{ place.name }}</h2>
      <p>{{ place.description }}</p>
      <ion-note item-right>
        {{ place.distance(params.location, 'မိုင်') }}
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll *ngIf="isContentView" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
