<ion-header>
  <ion-navbar>
    <ion-title>မန်းရွှေစက်တော်</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToAboutPage()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <empty-view *ngIf="isErrorView" icon="alert" text="ကွန်နက်ရှင်မရှိပါ"></empty-view>
  <ion-slides *ngIf="isContentView" [options]="options">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image">
    </ion-slide>
  </ion-slides>
  <ion-list *ngIf="isContentView">
    <ion-item *ngFor="let item of items" (click)="navigateTo(item.page)">
      <h2>{{ item.title }}</h2>
    </ion-item>
    <ion-item *ngFor="let page of pages" (click)="goToPageDetailPage(page)">
      <h2>{{ page.title.rendered }}</h2>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll *ngIf="isContentView" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
