page-weather {
  .weather {
    height: 100%;
  }
  .weather .detail {
    min-height: 40%;
    margin-bottom: -1px;
    background-color: color($colors, primary);
    color: color($colors, light);
  }
  .weather .detail i {
    font-size: 24px;
  }
  .weather .detail i.icon {
    font-size: 72px;
    margin: 8px;
  }
  .weather .forecast i {
    font-size: 32px;
    margin: 8px;
    color: color($colors, primary);
  }
  .weather .center-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
