<ion-header>
  <ion-navbar>
    <ion-title>ရာသီဥတု</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <empty-view *ngIf="isErrorView" icon="alert" text="ချိတ်ဆက်၍မရပါ"></empty-view>
  <ion-list *ngIf="isContentView && forecast" class="weather">
    <ion-item text-center class="detail">
      <div class="bold large">မန်းရွှေစက်တော်</div>
      <div class="small">{{ getMyanmarCalendarDay(forecast.daily.data[0].time * 1000) }}</div>
      <ion-grid>
        <ion-row>
          <ion-col width-33 class="center-child">
            <div>
              <div class="xx-large">{{ forecast.currently.temperature | number: '1.0-0' }}&deg;</div>
              <div class="center-child">
                <span class="large">{{ forecast.daily.data[0].temperatureMax | number: '1.0-0' }}&deg;</span>&nbsp;
                <span class="bold medium">{{ forecast.daily.data[0].temperatureMin | number: '1.0-0' }}&deg;</span>
              </div>
            </div>
          </ion-col>
          <ion-col width-33 class="center-child">
            <div>
              <i class="icon wi wi-forecast-io-{{ forecast.currently.icon }}"></i>
              <div class="bold small" style="white-space: pre-line;">{{ getMyanmarSummary(forecast.currently.icon) }}</div>
            </div>
          </ion-col>
          <ion-col width-33 class="center-child">
            <div>
              <i class="wi wi-sunrise"></i>
              <div class="bold small">{{ getMyanmarTime(forecast.daily.data[0].sunriseTime * 1000) }}</div>
              <i class="wi wi-sunset"></i>
              <div class="bold small">{{ getMyanmarTime(forecast.daily.data[0].sunsetTime * 1000) }}</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item *ngFor="let weather of forecast.daily.data | slice: 1" class="forecast">
      <i item-left class="wi wi-forecast-io-{{ weather.icon }}"></i>
      <h2>{{ getMyanmarCalendarDay(weather.time * 1000) }}</h2>
      <div item-right class="center-child">
        <span class="large" color="danger">{{ weather.temperatureMax | number: '1.0-0' }}&deg;</span>&nbsp;
        <span class="bold medium" color="primary">{{ weather.temperatureMin | number: '1.0-0' }}&deg;</span>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
