<ion-header>
  <ion-navbar>
    <ion-title>နေရာအသေးစိတ်</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="detail">
  <img src="{{ place.image ? place.image.url() : 'http://placehold.it/300x225' }}">
  <div class="content">
    <ion-fab top right>
      <button ion-fab color="primary" (click)="getDirections(place.location)"><ion-icon name="navigate"></ion-icon></button>
    </ion-fab>
    <div padding>
      <h2>{{ place.name }}</h2>
      <p [innerHTML]="place.description"></p>
    </div>
    <div *ngIf="place.address || place.phone">
      <hr>
      <h5 padding>ဆက်သွယ်ရန်</h5>
      <ion-list>
        <ion-item *ngIf="place.address" (click)="getDirections(place.location)">
          <h4>လိပ်စာ</h4>
          <p>{{ place.address }}</p>
        </ion-item>
        <ion-item *ngIf="place.phone" (click)="call(place.phone)">
          <h4>ဖုန်း</h4>
          <p>{{ place.phone }}</p>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
