page-place-detail {
  .detail {
    display: block;
    overflow: hidden;
  }
  .detail img {
    display: block;
    width: 100%;
  }
  .detail .content {
    position: relative;
  }
  .detail .content ion-fab {
    top: -32px;
  }
  .detail .content h2 {
    padding-right: 64px;
  }
  .detail .content p {
    white-space: normal;
  }
  .detail .content h2+p {
    margin: 0;
  }
  .detail .content h5[padding] {
    padding-top: 0;
    padding-bottom: 0;
  }
  .detail .content h5:after {
    content: "_";
    display: block;
    font-size: 2.8rem;
    line-height: 1;
    color: color($colors, danger);
  }
  .detail .content ion-list .item:first-child {
    border-top: none;
  }
  .detail .content ion-list .item:last-child {
    border-bottom: none;
  }
}
